@charset "utf-8";
.wy-create{
  position: fixed;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  z-index:1000;
  color:#333;

  .wy-create-wrap{
    width:6.2rem;
    height: 4rem;
    padding: 0 0.7rem 0 0;
    background-color:#fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(186, 204, 207, 0.7);
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .wy-create-close{
    font-size: 32px;
    line-height: .5;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    color: #999;
    cursor: pointer;
  }
  .wy-create-close:hover{
    color: #adadad;
  }
  .wy-create-close:active{
    color:#8a8989;
  }

  .wy-create-body{
    margin-top:0.8rem;
  }
  .wy-create-list{
    color: #666;
  }
  .wy-create-list label{
    display: inline-block;
    text-align: right;
  }
  .wy-create-list input ,textarea{
    border: 1px solid #ccc;
    border-radius: 0.04rem;
    width: 5rem;
    padding: 0.1rem;
    margin-left: 0.2rem;
    vertical-align:middle;
  }
  .wy-create-list textarea{
    height: 0.8rem;
    resize: none;
  }

  .wy-mtop{
    margin-top: 0.4rem;
  }


  .wy-create-footer{
    //margin-top: 0.6rem;
    position: absolute;
    right: 0.7rem;
    bottom: 20px;
  }
  .wy-create-footer input{
    //padding: 0.1rem 0.3rem;
    padding: 7px 20px;
  }

}