@charset "utf-8";
.wy-step{
  position: fixed;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  z-index:1000;
  color:#333;

  .wy-create-wrap{
    width:10rem;
    height: 7rem;
    padding: 0 0.5rem;
    background-color:#fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(186, 204, 207, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .wy-create-step{
    height:0.6rem;
  }
  .wy-create-step li{
    top:0.7rem;
    width: 2rem;
    position: relative;
    text-align: center;
  }
  .wy-create-step .num {
    position: relative;
    z-index: 2;
    background: #fff;
    width:0.6rem;
    height:0.4rem;
    text-align: center;
    display: inline-block;
  }
  .wy-create-step .on .line_bg, .wy-create-step .on .num em {
    background: #4F83C3;;
  }
  .wy-create-step .num em {
    background: #d9eaf3;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 2;
    border-radius: 0.05rem;
    -moz-border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
  }

  .wy-create-step .num i {
    z-index: 3;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    top: 0.1rem;
    font-size: 16px;
  }
  .wy-create-step .num em, .num i {
    width: 0.35rem;
    height: 0.35rem;
    display: inline-block;
    left: 0.1rem;
    top: 0.02rem;
    position: absolute;
  }

  .wy-create-step .lbg-r {
    right: 0;
  }
  .wy-create-step .lbg-l {
    left: 0;
  }
  .wy-create-step .line_bg {
    height: 3px;
    background: #d9eaf3;
    display: inline-block;
    width: 50%;
    top: 0.18rem;
    position: absolute;
    z-index: 1;
  }

  .wy-create-step .on .lbg-txt {
    color: #4F83C3;
  }

  .wy-create-step .lbg-txt {
    top: 0.08rem;
    position: relative;
    color: #b6c6ce;
    font-size: 14px;
  }

  .wy-create-close{
    font-size: 32px;
    line-height: .5;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    color: #999;
    cursor: pointer;
  }
  .wy-create-close:hover{
    color: #adadad;
  }
  .wy-create-close:active{
    color:#8a8989;
  }
  .wy-create-body{
    width: 10rem;
    margin-top:2rem;
  }
  .wy-create-list{
    color: #666;
  }
  .wy-create-list label{
    display: inline-block;
    width: 2rem;
    text-align: right;
  }
  .wy-create-list input{
    border: 1px solid #ccc;
    border-radius: 0.04rem;
    width: 4rem;
    padding: 0.1rem;
    margin-left: 0.2rem;
  }

  .wy-mtop{
    margin-top: 0.4rem;
  }


  .wy-create-footer{
    position: absolute;
    bottom: 0.25rem;
    width: 10rem
  }
  .wy-create-footer input{
    padding: 0.1rem 0.2rem;
  }

}