//底部信息
.yg-footer {
  width: 94%;
  position: absolute;
  bottom: 0px;
  height: 60px;
  background: #f2f2f2;
  margin: 0 auto 0 auto;
  padding: 0 3%;
  border-top: #dedede solid 1px;
  overflow: hidden;
}